.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.form-control label {
  font-weight: bold;
  color: #ccc;
  margin-bottom: 0.5rem;
}

.form-control input {
  padding: 1rem 0.5rem;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  outline: none;
}

.action-control {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}
